@import url(http://fonts.googleapis.com/css?family=Titillium+Web:400,300,700);

body{
	max-width:1334px;
	margin:auto;
	background-color: #f1f1f1;
}

.menu li,a {

	display: inline-block;
	margin-right: 20px;
	font-family: 'Titillium Web', sans-serif;
	font-weight: 400;

}
p, a, span, h1{
	font-family: 'Titillium Web', sans-serif;
	color: #182245;
}

a:hover,a{
	text-decoration: none;
	font-family: 'Titillium Web', sans-serif;
	color: #182245;
	font-size: 1.3em;

}

.menu{
	margin-top:8px;
	display: inline-block;

}

.menu ul{
	margin-top: 11px;
}

.account{
	margin-top: 20px;
}

.account span{
	font-size: 1.3em;
	border-right: 1px solid #182245;
	padding-right: 10px;

}

.header{
	height: 70px;
	padding-top: 5px;
	margin-bottom:50px;
	border-bottom:solid 2px #eee;
}

.account img{
max-height: 20px;
margin-left: -16px;
margin-top:10px;

}
/*//===== slider =====*/
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  margin: 0;
  max-height: 400px;
  }
  .rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0;

  }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left;
  }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0;
  margin-top: -20%;
  }
/*//==========product============*/
.featured h1{
	text-align: center;


}

.featured_pr{

	background-color: #f1f1f1;

	padding: 10px;
	/*margin-bottom: 55px;*/
}
.pr_img_container{
	overflow: hidden;
	max-width: 190px;
	height: 150px;
}


.featured a{
	display: block;
	text-align: center;
}

.featured_br{
	/*border: 1px solid #cfcfcf;*/
	margin:10px;
	padding: 10px;
	min-height:365px;
	background-color: white;
}
.featured_br:hover{
	/*border: 1px solid #00a9ac;*/
	box-shadow: 0px 2px 3px #00a9ac;
}

.featured_br h1{
	font-size: 1.2em;
}
.shopping_icon{

	height: 35px;
}
.featured_br p{
	color: #00a9ac;
	font-size: 1.3em;
	display: inline-block;
}

.rating{
	text-align: center;
	margin-bottom: 40px;
	margin-top: 20px;
}

.shopping_cart_image{
	outline: none;
	border:2px solid #00a9ac;
	border-radius: 2px;
	background-color: white;
	display: inline-block;
	width: 80px;
	height: 35px;
	color:#00a9ac;
}

.shopping_cart_image:hover{
	background-color: #00a9ac;
	color:white;
}

.quantity{
	display: none;

}

/*============== company info =========*/
.corporate_id{
	text-align: center;
	margin-top: 90px;
	margin-bottom: 50px;
}

.corporate_id span{
	font-size: 5.5em;
	color: #00a9ac;
}

.clients{
	background-color: white;
	padding-bottom: 30px;

}

.clients h1{
	text-align: center;
}

.clients img{
	max-width: 200px;
}

.footer{
	background-color: #182245;	
}

.footer_content h1, .footer_content p{
	color: white;
	font-size: 1.2em;

}

/*shopping cart style*/

.cart_title{
	text-align: center;
	margin-bottom: 55px;
}

.cart_table_beginning{
	padding-left:30px;
}

.cart_table_image{
	max-width:200px;
	max-height:200px;
	margin:10px;
	margin-left:30px;
}

.table_item{
	margin-bottom:10px
}

.cart_table_content p{
	padding-top:5px;
	max-width: 300px
}

.cart_table_content{
	border-top:1px solid #eee;
}

.remove_from_cart{
	color:red;
}



/*============ Categories ================*/
.children ul{
	list-style: none;
}

.children_container{
	z-index: 2;
	min-height: 20px;
	min-width: 50px;
	position: absolute;
	display: none;
	background:#ff8b78;

}

.category_container{
	margin-top: 20px;
}

.category_container li:hover > .children_container{
	display: inline-block;
}
.category_container li{
	display: inline-block;
}

.category_links{
	display: inline-block;
}

/*================ Explore box ================*/

.explore img{
  width: 100%;
}

.explore {
	overflow: hidden;
	height: 100px;
}

.explore h1 {
	cursor: pointer;
	position: absolute;
	color: white;
	text-align: center;
	left: 45%;

}
