{% extends 'base.html' %}
{% load staticfiles %}
{% load amper_tags %}

{% block 'index' %}
	<div class="col-md-12">
		<ul class="rslides">
		{% for slide in slides %}
			<li><img src="{{MEDIA_URL}}{{slide.image}}" alt="{{slide.title}}"/></li>
		{% endfor %}
		</ul>

	</div>

	<div class="col-md-12 featured">
	<h1>Featured products</h1>
	 {% for product in top_products %}
	 	<div class="col-md-3 featured_pr">
	 	<div class="featured_br">
		 		<a href="{% url 'product' product.slug %}" class="col-md-12"><img class="product_img" src="{{MEDIA_URL}}{{product.mainImage}} " alt="{{product.title}}"/> </a>
		 		<h1> <a href="{% url 'product' product.slug %}">{{product.title|truncatechars:60}}</a></h1>

				{% if cart|get_item:product.title  %}
					<p>{{cart|get_item:product.title}}</p>
					<p><span class="glyphicon glyphicon-ok" style="color:green;">Added</span></p>
				{% endif %}

		 		<p>Price: &pound;{{product.price|floatformat:"2" }} </p>
		 		<form method="POST" action="{% url 'add_by_post' %}">{% csrf_token %}
          <input value='1' size='1' name="quantity"/>
          <input class="shopping_cart_image" type="submit" value=''/>
          <input type="hidden" name="slug" value='{{product.slug}}'/>
        </form>
		 		<img class="pull-right shopping_icon"src="{% static 'images/basket-icon.png' %}">
		 	</div>
	 	</div>
	 {% endfor %}

	 </div>

	 <div class="col-md-12 corporate_id">
	 	<div class="col-md-4"> <span class="glyphicon glyphicon-question-sign"></span><h1> Who We Are?</h1> <p>Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet ferm entumone non mi porta.</p> </div>

	 	<div class="col-md-4"> <span class="glyphicon glyphicon-globe"></span> <h1> What We Do?</h1><p>Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet ferm entumone non mi porta.</p> </div>
	 	<div class="col-md-4"> <span class="glyphicon glyphicon-record"></span> <h1> Why Coose Us?</h1><p>Aenean lacinia bibendum nulla sed consectetur. Cras mattis consectetur purus sit amet ferm entumone non mi porta.</p> </div>
	 	</div>

	 	<div class="col-md-12 clients"><h1> Our Clients</h1>
	 		<div class="col-md-3"> <img src="{% static 'images/client1.png' %}"> </div>
	 		<div class="col-md-3"> <img src="{% static 'images/client2.png' %}"> </div>
	 		<div class="col-md-3"> <img src="{% static 'images/client3.png' %}"> </div>
	 		<div class="col-md-3"> <img src="{% static 'images/client4.png' %}"> </div>
	 	</div>

	 	<div class="col-md-12 footer">
	 		<div class="col-md-4 footer_content"> <h1>Categories</h1><p>fhjk jkpjrk jerkjrw </p> </div>
	 		<div class="col-md-4 footer_content"> <h1>Best offers</h1> <p>fhjk jkpjrk jerkjrw </p></div>
	 		<div class="col-md-4 footer_content"> <h1>Menu</h1> <p>fhjk jkpjrk jerkjrw </p></div>

	 	</div>

	

{% endblock %}
