{% load staticfiles %}
{% load amper_tags %}

{% if error_message %}      
		<div class="alert alert-danger" role="alert">
			<span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
			<span class="sr-only">Error:</span>
			{{error_message}}
		</div>

{% endif %}

{% for product in products %}
    <div class="col-md-3 featured_pr">
    <div class="featured_br">
        <div class="pr_img_container"> 
          <a href="{% url 'product' product.slug %}" class="col-md-12 inline"> 
            <img alt="{{product.mainImage}}" class="product_img" src="{{MEDIA_URL}}{{product.mainImage}} " alt="{{product.title}}"/>
         </a>
        </div>
        <h1> <a href="{% url 'product' product.slug %}">{{product.title|truncatechars:40}}</a> </h1>

        <div class="rating">
          {% for i in product.rate|get_range %}
            <a href="{% url 'rate_product' product.slug forloop.counter %}">
              <img src="{% static 'images/bstar.png' %}"/>
            </a>
          {% endfor %}

          {% for i in product.rate|get_subtraction %}
            <a href="{% url 'rate_product' product.slug forloop.counter|add:product.rate %}"><img src="{% static 'images/gstar.png' %}"/></a>
          {% endfor %}

        </div>
        <p class="product_price_tag"> &pound;{{product.price|floatformat:"2"}}</p>

        <form method="POST" action="{% url 'add_by_post' %}">{% csrf_token %}
          <input class="quantity" value='1' size='1' name="quantity"/>
          {% if cart|get_item:product.title %}
            <input class="shopping_cart_image" type="submit" value='ADDED'/>
          {% else %}  
            <input class="shopping_cart_image" type="submit" value='BUY'/>
          {% endif %}  
          <input type="hidden" name="slug" value="{{product.slug}}"/>
        </form>
      </div>
    </div>
   {% endfor %}

