{% load staticfiles %}
{% load amper_tags %}
{% for product in products %}
    <div class="col-md-3 featured_pr">
    <div class="featured_br">
        <a href="{% url 'product' product.slug %}" class="col-md-12"> <div class="pr_img_container"> <img alt="{{product.mainImage}}" class="product_img" src="{{MEDIA_URL}}{{product.mainImage}} " alt="{{product.title}}"/></div> </a>
        <h1> <a href="{% url 'product' product.slug %}">{{product.title|truncatechars:40}}</a> </h1>

        <div class="rating">
          {% for i in 1|get_range %}
            <img src="{% static 'images/bstar.png' %}"/>
          {% endfor %}

          {% for i in 5|add:"-1"|get_range %}
            <img src="{% static 'images/gstar.png' %}"/>
          {% endfor %}
        </div>
        <p> &pound;{{product.price|floatformat:"2"}}</p>
        {# <a href="{% url 'add_to_cart' product.slug 1 %}"><img class="pull-right shopping_icon"src="{% static 'images/basket-icon.png' %}"></a> #}


        <form method="POST" action="{% url 'add_by_post' %}">{% csrf_token %}
          <input class="quantity" value='1' size='1' name="quantity"/>
          {% if cart|get_item:product.title %}
            <input class="shopping_cart_image" type="submit" value='ADDED'/>
          {% else %}  
            <input class="shopping_cart_image" type="submit" value='BUY'/>
          {% endif %}  
          <input type="hidden" name="slug" value="{{product.slug}}"/>
        </form>
      </div>
    </div>
   {% endfor %}
